body {
  background-image: repeating-linear-gradient(to left, #6247aa, #dec9e9);
}
.navbar-brand {
  font-family: "Luckiest Guy", cursive;
  font-size: 76px;
  color: #fffffc;
  display: inline-block;
  float: none;
  vertical-align: top;
}

.jumbotron {
  font-family: "Raleway", sans-serif;
  float: right;
  color: #fffffc;
  background: transparent;
}
